In [ ]:
from google.cloud import bigquery
from functions.bigquery import credencial_bq
client = bigquery.Client(credentials=credencial_bq())
from functions.bigquery import write_bigquery
import pandas as pd

In [ ]:
param = write_bigquery()
tabela = param[0]
project_id = param[1]

## Resposta 1:

In [ ]:
sql = f'SELECT COUNT(DISTINCT codigo) FROM {tabela}'
df1 = pd.read_gbq(sql, project_id=project_id, dialect='standard', credentials=credencial_bq())

In [ ]:
df1

## Resposta 2:

In [ ]:
sql = f'SELECT COUNT(DISTINCT (CONCAT(marca, modelo, ano, complemento))) FROM {tabela}'
df2 = pd.read_gbq(sql, project_id=project_id, dialect='standard', credentials=credencial_bq())

In [ ]:
df2

## Resposta 3:

In [ ]:
sql = f'SELECT categoria, COUNT(DISTINCT codigo) FROM {tabela} GROUP BY categoria'
df3 = pd.read_gbq(sql, project_id=project_id, dialect='standard', credentials=credencial_bq())

In [ ]:
df3